### Folders, Files, and Plots  ###

# Folders to exclude


# file for pseudo code and running testcases
async_networks/test.mlx

# matvar files
assets/matvar/async_addopt_delay_blocks_20_stepsize_005.mat

# triton test scripts
triton_scripts/compute_gradient.m
triton_scripts/gen_aug_weight_matrix.m
triton_scripts/gen_cs_aug_matrix.m
triton_scripts/run.sh
triton_scripts/alpha.txt

# temporary images
#case1.png
#case2.png

### MATLAB Extension files ###

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Live scripts
.mlx
